<ion-header>

    <ion-navbar hideBackButton color="secon">
        <ion-buttons ion-button icon-only icon-start navPop>
            <button ion-button icon-start>
                <ion-icon name="ios-arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Detail Order</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding class="bg">
    <ion-item no-lines>
        <span ion-text color="secon">เมนูอาหาร</span>
    </ion-item>

    <div class="div-row">
        <ion-row class="row-het">
            <ion-col col-6 class="col-text">
                รายการ
            </ion-col>
            <ion-col col-3>
                จำนวน
            </ion-col>
            <ion-col col-3>
                ราคา
            </ion-col>
        </ion-row>
        <ion-row *ngFor="let item of itemsBuy | async" class="row-col">
            <ion-col col-6 class="col-7">
                - {{item.title}}
            </ion-col>
            <ion-col col-3>
                {{item.number}}
            </ion-col>
            <ion-col col-3>
                {{item.price}}
            </ion-col>
        </ion-row>
    </div>

    <ion-item no-lines>
        <span ion-text color="danger5">* </span><span ion-text color="secon">หมายเหตุ</span>
    </ion-item>
    <div *ngIf="bahtDish" class="div-note">
        {{bahtDish.note}}
    </div>

    <div *ngIf="bahtDish">
        <ion-item no-lines class="item-m">
            <span ion-text color="dark">รหัสโต๊ะ : </span> <span ion-text color="secon">{{bahtDish.keyteble}}</span>
        </ion-item>
        <ion-item no-lines>
            <span ion-text color="dark">ราคา : </span><span ion-text color="secon">{{bahtDish.baht}}</span>
        </ion-item>
    </div>

    <div *ngIf="bahtDish" class="div-pading">
        <!-- <ion-item no-lines class="item-m">
            <span ion-text color="dark">รหัสโต๊ะ : </span>{{bahtDish.keyteble}}
        </ion-item>
        <ion-item no-lines>
            <span ion-text color="dark">ราคา : </span>{{bahtDish.baht}}
        </ion-item> -->
        <ion-item no-lines>
            <ion-label color="secon" stacked>Status Update</ion-label>
            <ion-select [(ngModel)]="bahtDish.status">
                <ion-option value="รอดำเนินการ">รอดำเนินการ</ion-option>
                <ion-option value="ได้รับออเดอร์แล้ว">ได้รับออเดอร์แล้ว</ion-option>
                <ion-option value="ตรวจสอบเมนูทั้งหมดแล้ว">ตรวจสอบเมนูทั้งหมดแล้ว</ion-option>
                <ion-option value="กำลังปรุ่งอาหาร">กำลังปรุ่งอาหาร</ion-option>
                <ion-option value="รอเสิร์ฟอาหาร">รอเสิร์ฟอาหาร</ion-option>
                <ion-option value="สำเร็จ">สำเร็จ</ion-option>
            </ion-select>
        </ion-item>

        <div text-center class="div-bt">
            <button center ion-button full round color="secon" [disabled]="!isenabled" (click)="statusUpdate(bahtDish)">
                <ion-icon name="ios-cloud-upload-outline"></ion-icon>
                &nbsp; Update
            </button>
        </div>
    </div>

</ion-content>