page-status-orders {
    
    .div-pading{
        padding-left: 20px;
        padding-right: 20px;
    }
    .div-note{
        padding-left: 37px;
        padding-right: 40px;
        font-size: 14px;
        text-overflow: ellipsis !important;
    }
    .item-m{
        margin-top: 10px;
    }
    ion-select {
        border-bottom: #00635a solid 1px;
    } 
    .div-menu{
        padding-left: 37px;
    }
    .div-bt{
        padding: 20px;
    }
    .op-text1{
        color: aquamarine !important;
    }
    .col-7{
        text-align: left;
    }
    .col-text{
        text-align: left;
    }
    .div-row{
        padding-left: 10px;
        padding-right: 10px;
    }
    .row-col{
        color: #222222;
    }
    .row-het{
        font-size: 16px;
        color: #00635a;
    }

}
