page-restaurant {
    .size-bt{
        // padding-right: 10px !important;
        // padding-left: 8px !important;
        width: 25px !important;
        height: 25px !important;
    }

}
.img-bg{
    border-radius: 2px;
    height: auto;
    width: 95%; 
    // margin-top: 0.5rem;
}
.danger3{
    font-size: 12px; 
    text-align: left; 
} 
.danger4{ 
    text-align: left; 
}
.text-ag1{
    margin-top: 2%;
    font-size: 16px;  
}
.text-ag2{  
    margin-top: -5px;
    font-size: 16px;
} 
.text-ag3{
    margin-top: -13px;
    font-size: 14px;
}
.text-ag4{
    font-size: 14px;
} 
.item-size2{   
    height: 0.5rem; 
}
.col2-m{
    right: 15%;
}