page-dish-menu {
    .col-hed{
        margin-top: 0 !important;
        text-align: left !important;
        padding-top: 0 !important;
    }
    .col-con{
        text-align: left !important;
    }
    .div-content-bg{
        padding-left: 34px !important;
        padding-right: 30px !important;
    }
    .row-pad{
        margin-top: 0 !important;
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
    .div-size1{
        position: absolute;
        top: 0 !important;
        width: 60px !important;
    }
    .div-size2{
        color: #555555;
        text-align: left !important;
        position: absolute;
        top: 0 !important;
        width: 100% !important;
        margin: 0 !important;
        padding-left: 60px !important;
        padding-right: 10px !important;
    }
    .bts-bg{
        background-color: #ff6600;
        height: 40px;
    }
    .text-col{
        margin-top: 0 !important;
        padding-top: 0 !important;
    }
    .thick {
        font-size: 20px;
        font-weight: bold;
    }
    .p-pad {
        padding-top: 10px;
    }
    .row-footer{
        padding: 0px !important;
        margin-top: 0px !important;
        height: 100% !important;
    }
    .div-number{
        font-size: 20px;
    }
    .col-bg1{
        padding-left: 20px;
        text-align: center !important;
    }

    .col-bg2{
        padding-right: 20px;
        text-align: center !important;
    }

    .col-footer1{
        padding: 0px !important;
        margin-top: 1px !important;
        height: 44px !important;
        background-color: #ffffff;
    }
    .col-footer2{
        padding: 0px !important;
        margin: 0 !important;
        height: 44px !important;
        background-color: #00635a;
    }
    .col-footer3{
        padding: 0px !important;
        margin: 0 !important;
        height: 44px !important;
        background-color: #ff9e21;
    }
    .div-1{
        padding-left: 0px;
        font-size: 18px;
        color: #ff6600;
    }
    .div-footer1{
        padding-top: 5px !important;
        color: #fff;
    }
    .div-footer2{
        padding-top: 5px !important;
        color: #fff;
    }
    .div-footer3{
        padding-top: 5px !important;
        color: #fff;
    }
    .footer-size{
        padding: 0 !important;
        margin: 0 !important;
        color: #555555;
        background-color: #555555 !important;
    }
    .text-size{
        font-size: 12px !important;
    }
    .col-cout{
        padding: 5px;
        padding-left: 15px;
        background-color: #f4f4f4;
    }
}
