page-dish {
  .slider-pager {
    .swiper-pagination-bullet {
      background: #fff;
      // margin: 0 3px;
    }
  }
  .div-pad {
    padding-top: 10px;
  }
  .p-pad {
    padding-top: 10px;
  }
  .thick {
    font-size: 20px;
    font-weight: bold;
  }
}
