page-feed {
    .content-bg{
        background-color: #f4f4f4;
    }
    .avatar-size{
        width: 50px !important;
        height: 50px !important;
    }
    .font-bt{
        font-size: 14px !important;
    }
    .bt-size{
        font-size: 16px !important;
    }
    .bt-col{
        display:block;
        height: 50px;
        width: 100px;
    }
}
