page-buy {
    .div-hetder{
        padding: 15px;
        background-color: #f4f4f4;
    }
    .row-footer{
        padding: 0px !important;
        margin-top: 0px !important;
        height: 100% !important;
    }
    .row-footer2{
        padding: 0px !important;
        margin-top: 0px !important;
        height: 100% !important;
    }
    .col-footer3{
        padding: 0px !important;
        margin: 0 !important;
        height: 44px !important;
        background-color: #ff9e21;
    }
    .footer-size{
        padding: 0 !important;
        margin: 0 !important;
        color: #555555;
        background-color: #555555 !important;
    }
    .col-footer2{
        padding: 0px !important;
        margin: 0 !important;
        height: 44px !important;
        background-color: #96071a;
    }
    .div-footer2{
        padding-top: 5px !important;
        color: #fff;
    }
    .div-table{
        padding-left: 12px !important;
        color: #fff;
    }
    .div-footer3{
        position: absolute;
        top: 12px !important;
        font-size: 18px;
        color: #fff;
        padding-left: 70px !important;
    }
    .div-footer4{
        position: absolute;
        top: 12px !important;
        padding-left: 90px !important;
        // padding-top: 15px !important;
        color: #fff;
    }
    .text-size{
        padding-top: 0px !important;
        margin-top: 0px !important;
        font-size: 16px !important;
    }
    .div-table{
        padding-left: 10px;
        text-align: left !important;
    }
    .text-buy{
        font-size: 16px !important;
        color: #3a3a3a !important;
    }
    .text-number{
        text-align: left !important;
        font-size: 16px !important;
        color: #ff6600 !important;
    }
    .col-cout{
        background-color: #f4f4f4;
        padding: 5px;
        padding-left: 15px;
    }
    .text-ble{
        font-size: 14px;
    }
    .text-table{
        font-size: 14px;
        color: #3a3a3a !important;
    }
    .text-ag1{
        font-size: 18px !important;  
    }
    .text-ag2{  
        font-size: 14px !important;
    }
    .bts-w{
        width: 100%;
        background-color: white;
        height: 100px !important;
        padding: 0;
    }
    .polaro {
        padding: 0;
        width: 100%;
        background-color: white;
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0);
        text-overflow: ellipsis;
    }
    .div-imgbuy{
        padding: 0 !important;
        margin: 0 !important;
        height: 100px !important;
        width: 100px !important;
    }
    .div-conten{
        padding-left: 10px !important;
    }
    .full-width {
        width: 100% !important;
    }
    
    .max-width {
        max-width: 100% !important;
    }
    .text-al{
        text-align: left;
    }
    ion-textarea { 
        border-bottom: #00635a solid 1px;
        caret-color: #00635a;
    }  
}
