page-checkout {
    ion-input { 
        border-bottom: #00635a solid 1px;
        caret-color: #00635a;
    }  
    ion-select {
        border-bottom: #00635a solid 1px;
        border-block-end-width: 100% !important;
    }
    
    .checkout {
        background-color: #f3f3f3;
        .checkout-info {
        .checkout-image {
            width: 100%;
            height: 120px;
            background-size: 100% auto;
            background-position: center;
            border-radius: 4px 4px 0 0;
            }

            .checkout-features {
                ion-icon {
                    min-width: 1.5rem;
                    text-align: center;
                }
            }
        }
        .pading-h3{
            padding: 30px;
        }

        .item.no-border .item-inner {
            padding-right: 0;
            [item-end] {
                margin: 0;
            }
        }

	    .item {
		    &.item-block {
			    .item-inner {
			    border-style: solid;
			    border-width: 1px;
			    border-color: transparent;
			    border-bottom-color: rgba(color($colors, primary), .2);
			    }
		    }
	    }

        .cc-flags {
            img {
                max-width: 32px;
                display: inline-block;
            }
        }
        .text-al{
            text-align: left;
        }
        .dark-input{
            color: #555555;
        }

    }
    .full-width {
        width: 100% !important;
    }
    
    .max-width {
        max-width: 100% !important;
    }
}
