page-new {
    .hetder{
        background-color: #f4f4f4;
    }
    .div-hetder{
        padding: 15px;
        background-color: #ffffff;
    }
    .polaro {
        padding: 0;
        width: 100%;
        background-color: white;
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0);
        text-overflow: ellipsis;
    }
    .bts-w{
        width: 100%;
        background-color: white;
        height: 100px !important;
        padding: 0;
    }
    .div-imgbuy{
        padding: 0 !important;
        margin: 0 !important;
        height: 100px !important;
        width: 100px !important;
    }
    .div-conten{
        padding-left: 10px !important;
    }
    .text-ag1{
        font-size: 18px !important;  
    }
    .text-ag2{  
        font-size: 14px !important;
    }

}
