<ion-header>

    <ion-navbar hideBackButton color="danger2">
        <ion-buttons *ngIf="itenbuttom == 1" start (click)="onTabpage()">
            <button ion-button icon-start>
                <ion-icon name="md-home"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons *ngIf="itenbuttom == 0" ion-button icon-only icon-start navPop>
            <button ion-button icon-start>
                <ion-icon name="ios-arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>My Orders</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-item no-lines color="light">
        <span ion-text color="danger2" class="fontRSU">ติดตามสถาณะ</span>
    </ion-item>
    <button ion-button navPush="StatusPage">
        pppp
    </button>
</ion-content>