page-my-orders {
    .bg{
        background-color: #f3f3f3;
    }
    .div-content{
        margin-top: 3px;
        padding: 10px;
        background-color: #fff;
    }
    .text-a{
        text-align: left;
        color: #222;
    }
}
