page-orders {
    .bg{
        background-color: #dfdfdf;
    }
    .div-content{
        margin-top: 3px;
        padding: 10px;
        background-color: #fff;
    }
    .text-a{
        text-align: left;
        color: #222;
    }
    .not{
        background-color: #fff;
        color: #dd4b39;
        padding: 15px;
    }

}
